.footer-bottom
    .main
        p.address 地址：上海市徐汇区徐虹中路8号 总机：021-50688888 &nbsp;&nbsp;&nbsp;邮编：200235
        p.copyRight COPYRIGHT
            span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1999-2016 SHANGYING GROUP . ALL RIGHTS RESERVED 苏ICP备16004405号-1 &nbsp;&nbsp;
            a(href="/sitemap") 网站地图
            a#safe