extends index_layout

block content
    include ../include/header
    input#activeIndex(type="hidden" value="#{activeIndex}")
    input#activeIndex_two(type="hidden" value="#{activeIndex_two}")
    .index-banner.swiper-container
      .swiper-wrapper
        each list in bannerList
          .swiper-slide
            a(href="#{list.url}")
              img(src="#{list.picUrl}")
      .pagination
        each index in bannerList
          .swiper-pagination-switch
    include index_area
    .footer
      include ../include/footer1
      include ../include/footer2

    script(src="javascripts/lib/jquery-1.8.3.min.js")
    script(src="javascripts/lib/idangerous.swiper2.7.6.min.js")
    script(src="javascripts/lib/jwplayer.js")
    script(src="javascripts/lib/jwplayer.html5.js")
    script(src="javascripts/index.js")
    script(src="javascripts/common.js")