.line
.about-event
    .detail-artical
        .newsdetail
            .newsdetail-title.at  #{content.title}
            div.newsdetail-info.ac !{content.content}
        .title-bottom
            a(href="javascript:window.history.go(-1);") 返回上一级